# GKE-specific overrides for PlaceOS
# This file contains only the differences from the base configuration in group_vars/all/k8s_base.yaml
# The final configuration is created by: placeos = placeos_base | combine(placeos_override, recursive=True)

# Cluster Info ConfigMap (used by admins and upgrade jobs)
cluster_info:
  name: "default" # eg. PlaceOS PROD
  environment: "default" # eg. production, staging, development
  region: "default" # eg. australiaeast

# Override PlaceOS services with GKE-specific configuration
placeos_override:
  api:
    ingress:
      enabled: false
  
  auth:
    ingress:
      enabled: false
  
  dispatch:
    udpLoadbalancer:
      annotations:
        cloud.google.com/load-balancer-type: "Internal"
    tcpLoadbalancer:
      annotations:
        cloud.google.com/load-balancer-type: "Internal"
  
  frontendloader:
    httpSidecar: false
    ingress:
      enabled: false
  
  staff:
    ingress:
      enabled: false
  
  # global - GCP backend config
  global:
    gcpbackendConfig:
      enabled: true
      name: placeos-core
      config:
        connectionDraining:
          drainingTimeoutSec: 60
        securityPolicy:
          name: "cloudarmor-policy"
      global_static_ip_name: "l7-ip"
      loadbalancerAccessType: "External"

# Third-party service overrides for GKE
ingress_nginx:
  enabled: false
