# Cluster Info ConfigMap (used by admins and upgrade jobs)
cluster_info:
  name: "default" # eg. PlaceOS PROD
  environment: "default" # eg. production, staging, development
  region: "default" # eg. australiaeast

#  Used to set the user password in PostgresQL if enabled then passed to multiple containers in a k8s secret
xpostgresPassword: &pgPassword "{{ postgresqlPassword }}"

#  Used to set the admin "postgres" user password in PostgresQL if enabled
xpostgresPostgresPassword: &pgPostgresPassword "{{ postgresqlPostgresPassword }}"

# xsmtpPassword. the smtp password used by triggers
xsmtpPassword: &smtpPassword "{{ smtpPassword | default( '', true ) }}"

# xplacePassword. The value used by the init subchart to set the default domain users password
xplacePassword: &placePassword "{{ placePassword | default( '', true ) }}"

# xplaceServerSecret for the placeos service
xplaceServerSecret: &placeServerSecret "{{ placeServerSecret | default( '', true ) }}"

# xplaceServerSecret for the placeos service
xauthSecretKeyBase: &authSecretKeyBase "{{ authSecretKeyBase | default( '', true ) }}"

# xserverSecret for the dispatch service
xserverSecret: &serverSecret "{{ serverSecret | default( '', true ) }}"

# xelasticClientEnv configmap values for ElasticSearch Service exposed as environment variables to PlaceOS containers
xelasticClientEnv: &elasticClientEnv
  ES_HOST: "{{ elasticsearch_release_name }}.{{ elasticsearch_namespace }}"
  ES_PORT: 9200

# xredisClientEnv configmap values for the redis Service exposed as environment variables to PlaceOS containers
xredisClientEnv: &redisClientEnv
  REDIS_URL: "redis://redis-headless.{{ redis_namespace }}:6379"

xpostgresValues: &postgresValues
  postgresql:
    username: &pgUsername placeos
    database: &pgDatabase placeos
    password: *pgPassword
    postgresPassword: *pgPostgresPassword
    maxConnections: 500
    replicaCount: 1
    resources:
      requests:
        cpu: 250m
        memory: 250Mi
    pdb:
      create: false
    image:
      repository: docker.io/bitnamilegacy/postgresql-repmgr
  pgpool:
    numInitChildren: 500
    replicaCount: 0
    pdb:
      create: false
    image:
      repository: docker.io/bitnamilegacy/pgpool
  volumePermissions:
    image:
      repository: docker.io/bitnamilegacy/os-shell
  metrics:
    image:
      repository: docker.io/bitnamilegacy/postgres-exporter

xpostgresClientEnv: &postgresClientEnv
  PG_DB: *pgDatabase
  PG_HOST: postgresql-postgresql
  PG_PORT: 5432
  PG_USER: *pgUsername
  PG_QUERY: "?initial_pool_size=1&max_idle_pool_size=20&retry_attempts=2"

xpostgresClientSecrets: &postgresClientSecrets
  PG_PASSWORD: *pgPassword

xinfluxClientEnv: &influxClientEnv
  INFLUX_HOST: http://influxdb:8086
  INFLUX_ORG: PlaceOS
  INFLUX_BUCKET: placeos

xinfluxAdminToken: &influxAdminToken "{{ influxdbAdminToken }}"

# xsmtpClientSecrets secrets values exposed as environment variables for the trigger service
xsmtpClientSecrets: &smtpClientSecrets
  SMTP_PASS: *smtpPassword

# dispatchSecrets secret values exposed as environment variables for the dispatch service
xdispatchSecrets: &dispatchSecrets
  SERVER_SECRET: *serverSecret

xhttpProxy: &httpProxy
  HTTP_PROXY: ""
  HTTPS_PROXY: ""

xstorageClass: &storageClass "gp2"

placeos:
  enabled: true
  # api is the overide configuration for the embedded api subchart
  api:
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      # Service Hosts
      << : *elasticClientEnv
      << : *redisClientEnv
      << : *postgresClientEnv
      #<< : *httpProxy
    secrets:
      << : *postgresClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        limits:
          cpu: 100m
          memory: 500Mi
        requests:
          cpu: 10m
          memory: 100Mi
  # auth is the overide configuration for the embedded auth subchart
  auth:
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      << : *postgresClientEnv
      #<< : *httpProxy
    secrets:
      SECRET_KEY_BASE: *authSecretKeyBase
      << : *postgresClientSecrets
    deployment:
      resources:
        limits:
          cpu: 1
          memory: 500Mi
        requests:
          cpu: 10m
          memory: 400Mi
  # core is the overide configuration for the embedded core subchart
  core:
    configmap:
      # Service Hosts
      << : *redisClientEnv
      << : *postgresClientEnv
      #<< : *httpProxy
    secrets:
      << : *postgresClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        limits:
          cpu: 1
          memory: 2Gi
        requests:
          cpu: 1
          memory: 2Gi
    persistentVolumeClaim:
      storageClassName: *storageClass
  # dispatch is the overide configuration for the embedded dispatch subchart
  dispatch:
    udpLoadbalancer:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    tcpLoadbalancer:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    secrets:
      << : *dispatchSecrets
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 5Mi
  # frontend-loader is the overide configuration for the embedded frontend-loader subchart
  frontendloader:
    httpSidecar: true
    ingress:
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      << : *postgresClientEnv
      #<< : *httpProxy
    secrets:
      << : *postgresClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    persistentVolumeClaim:
      name: www
      accessModes:
        - ReadWriteOnce
      storageClassName: *storageClass
    deployment:
      resources:
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 500m
          memory: 500Mi
    httpDeployment:
      resources:
        limits:
          cpu: 50m
          memory: 100Mi
        requests:
          cpu: 50m
          memory: 100Mi
  # search-ingest is the overide configuration for the embedded search-ingest subchart
  searchingest:
    configmap:
      # Service Hosts
      << : *postgresClientEnv
      << : *elasticClientEnv
    secrets:
      << : *postgresClientSecrets
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
  # triggers is the overide configuration for the embedded triggers subchart
  triggers:
    configmap:
      # Service Hosts
      << : *redisClientEnv
      << : *postgresClientEnv
    secrets:
      << : *postgresClientSecrets
      << : *smtpClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
    deployment:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
  # init is the overide configuration for the embedded init subchart
  init:
    config:
      # Service Hosts
      << : *postgresClientEnv
      << : *elasticClientEnv
    secrets:
      PLACE_PASSWORD: *placePassword
      PLACE_SERVER_SECRET: *placeServerSecret
      << : *postgresClientSecrets
  # staff is the overide configuration for the embedded staff subchart
  staff:
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        ingress.kubernetes.io/ssl-redirect: "true"
    configmap:
      << : *postgresClientEnv
    secrets:
      PLACE_PASSWORD: *placePassword
      PLACE_SERVER_SECRET: *placeServerSecret
      << : *postgresClientSecrets
    deployment:
      resources:
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 10m
          memory: 100Mi
  # source is the overide configuration for the embedded source subchart
  source:
    configmap:
      << : *redisClientEnv
      << : *postgresClientEnv
      << : *influxClientEnv
    secrets:
      << : *postgresClientSecrets
      PLACE_SERVER_SECRET: *placeServerSecret
      INFLUX_API_KEY: *influxAdminToken
    deployment:
      resources:
        limits:
          memory: 1G
          cpu: 1
        requests:
          cpu: 50m
          memory: 500M
    serviceAccount:
      name: null
  global:
    placeDomain: "{{ placeDomain | default('localhost', true ) }}"
    customRedirectPort: "{{ customRedirectPort | default( omit ) }}"

###########################################
##### Third Party Supporting Services #####
###########################################

ingress-nginx:
  enabled: true
  fullnameOverride: "ingress-nginx"
  controller:
    allowSnippetAnnotations: true
    config:
      annotations-risk-level: Critical
elasticsearch:
  enabled: true
  global:
    defaultStorageClass: *storageClass
  master:
    replicaCount: 1
    priorityClassName: high
    persistence:
      enabled: true
      size: 100M
    podAntiAffinityPreset: soft
  data:
    replicaCount: 1
    priorityClassName: high
    persistence:
      enabled: true
      size: 500M
    resources:
      requests:
        cpu: 25m
        memory: 1536Mi
    podAntiAffinityPreset: soft
  coordinating:
    replicaCount: 0
  ingest:
    replicaCount: 0
  image:
    repository: docker.io/bitnamilegacy/elasticsearch
  sysctlImage:
    repository: docker.io/bitnamilegacy/os-shell
  volumePermissions:
    image:
      repository: docker.io/bitnamilegacy/os-shell
  metrics:
    image:
      repository: docker.io/bitnamilegacy/elasticsearch-exporter
redis:
  enabled: true
  fullnameOverride: redis
  auth:
    enabled: false
  architecture: standalone
  commonConfiguration: |-
    notify-keyspace-events Kg$
  master:
    priorityClassName: high
    persistence:
      enabled: true
      size: 100M
    resources:
      limits:
        cpu: '1'
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
  image:
    repository: public.ecr.aws/bitnami/redis
influxdb:
  fullnameOverride: influxdb
  enabled: true
  priorityClassName: high
  persistence:
    storageClass: *storageClass
  auth:
    admin:
      token: *influxAdminToken
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 150m
      memory: 512Mi
  image:
    repository: docker.io/bitnamilegacy/influxdb
mosquitto:
  enabled: false
  fullnameOverride: mosquitto
postgresql-ha:
  enabled: true
  fullnameOverride: postgresql
  priorityClassName: high
  << : *postgresValues
